@import '@/styles/variables.scss';

.pageWrapper {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    transition: none;
    overflow: hidden;

    .topRowWrapper {
        display: flex;
        gap: 2rem;
        align-items: flex-end;
        padding-right: 115px;

        .wrappingInput {
            width: 100%;

            .input {
                width: 100%;
                margin-left: 2px;
            }

            @media (min-width: 1800px) {
                width: 700px;

                .input {
                    width: 500px;
                }
            }
        }

        .rowItem {
            display: flex;
            gap: 1rem;
            min-width: 150px;
            align-items: center;
        }

        @media (min-width:1800px) {
            padding-right: 100px;
            gap: 1rem;
            .rowItem {
                min-width: 250px;
            }
        }
    }

    .contentItemsWrapper {
        display: flex;
        flex-flow: column;
        overflow-x: hidden;
    }
}