@import '@/styles/variables.scss';

.informationWrapper {
    position: relative;
    width: max-content;

    img {
        height: .9rem;
    }

    .textWrapper {
        z-index: 100;
        background-color: $white;
        border: solid 2px $purple_primary;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: .5rem;
        margin-top: 1rem;
        display: none;
        overflow: hidden;
        opacity: 0;
        transition: .3s opacity ease-in-out;
    }
}