// Colors
$black: #0E141C;
$white: #FFFFFF;
$purple_primary: #6210CC;
$purple_secundary: #8848E1;
$purple_50: #FAF6FF;

$green: #10CC50;
$red: #FF4D35;
$orange: #FF9635;

// Font
$lexend_deca: "Lexend Deca", sans-serif; // Headers
$roboto: "Roboto", sans-serif; // Paragraph

// Shadow
$shadow: rgba($color: $purple_primary, $alpha: .03) 3px 6px 10px;