@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$black: #0E141C;
$white: #FFFFFF;
$purple_primary: #6210CC;
$purple_secundary: #8848E1;
$purple_50: #FAF6FF;

// Font
$lexend_deca: "Lexend Deca", sans-serif; // Headers
$roboto: "Roboto", sans-serif; // Paragraph

// Shadow
$shadow: rgba($color: $purple_primary, $alpha: .03) 3px 6px 10px;