@import '@/styles/variables';

.buttonWrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .5rem 1rem;
    border-radius: .75rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s all ease-in-out;
    width: max-content;
    height: max-content;
    text-wrap: nowrap;
    user-select: none;

    svg {
        font-size: 1.2rem;
    }

    &.solid {
        border: 2px $purple_primary solid;
        background: $purple_primary;
        color: $white;

        &:hover {
            border: solid 2px $purple_secundary;
        }
    }

    &.outline {
        border: 2px $purple_primary solid;
        color: $purple_primary;
        transition: .6s all ease-in-out;

        &:hover {
            background-color: $purple_secundary;
            color: $white;
            border: solid 2px $purple_secundary;
        }
    }

    &:hover {
        background: $purple_secundary;
    }

    &.textOnly {
        color: $purple_primary;
        padding: 0;

        &:hover {
            background: none;
        }
    }

    &.disabled {
        opacity: .1;
        cursor: not-allowed !important;
    }
}