.collectionsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    overflow-x: hidden;

    @media (min-width: 2000px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.small {
        div[class^="collection-card_"]:not(:nth-child(-n+2)){
            display: none;
        }

        @media (min-width: 2000px) {
            div[class^="collection-card_"]{
                display: flex !important;
            }
        }
    }
}