.collectionsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    overflow-x: hidden;

    @media (min-width: 2000px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.small {
        div[class^="collection-card_"]:last-of-type:not(:only-child){
            display: none;
        }

        @media (min-width: 2000px) {
            div[class^="collection-card_"]:last-of-type{
                display: flex;
            }
        }
    }
}