@import '@/styles/variables';

.pagesWrapper {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    position: relative;

    .innerWrapper {
        padding-top: 1rem;
        min-width: 1050px;
        width: 1050px;
        transition-delay: .2s;
        margin-bottom: 1rem;

        @media (min-width: 1800px) {
            min-width: 1450px;
            width: 1450px;
        }
    }

    @media (max-width: 1230px) {
        justify-content: start;
    }


    &.smallerWrapper {
        @media (max-width: 1450px) {
            justify-content: start;
        }

        &.small {
            justify-content: start;
        }
    }

    &.small {
        overflow-y: hidden;

        @media (max-width: 1250px) {
            justify-content: start !important;
        }

        .innerWrapper {
            height: calc(100% - 2rem);
            min-width: 780px;
            width: 780px;

            @media (min-width: 1300px){
                min-width: 100%;
                width: 100%;
            }

            @media (min-width: 1700px) {
                min-width: 1100px;
                width: 1100px;
            }            

            @media (min-width: 2000px) {
                min-width: 1300px;
                width: 1300px;
            }
        }
    }
}