@import '@/styles/variables';

.pagesWrapper{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    position: relative;

    .innerWrapper{
        padding-top: 1rem;
        max-height: 100%;
        min-width: 1600px;
        transition: .6s width ease-in-out;
        transition-delay: .2s;
        margin-bottom: 1rem;
    }

    @media (max-width: 1750px){
        justify-content: start;
    }
}