@import '@/styles/variables';

.stat{
    background-color: $white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: $shadow;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    border: solid 1px $purple_50;

    .cardTitle {
        display: flex;
        gap: 1rem;
        align-items: flex-end;

        img {
            margin-bottom: .2rem;
        }
    }
}