@import '@/styles/variables';

.subtitle {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
    align-items: center;

    &.h3 {
        margin-left: 3rem;
    }

    &.h4 {
        margin-left: 6rem;
    }

    .type {
        background-color: $purple_primary;
        color: $white;
        padding: .25rem .5rem;
        text-transform: uppercase;
        border-radius: .25rem;
    }

    .title {
        width: 100%;
        border: none;
        font-size: 1.2rem;
        font-family: $lexend_deca;
        font-weight: 700;
        padding: .5rem .25rem;
        border-radius: .5rem;
        background-color: rgba($color: $purple_50, $alpha: 0);
        overflow-y: hidden;

        &:focus {
            outline: none;
        }
    }

    .delete{
        transition: .3s all ease-in-out;
        opacity: 0;
        cursor: pointer;

        color: red;
    }
    
    .generate{
        transition: .3s all ease-in-out;
        opacity: 0;
        cursor: pointer;
    }

    &:hover{
        cursor: grab;
        .title{
            background-color: $purple_50;
        }
        .delete, .generate{
            opacity: 1;
        }
    }
}