@import '@/styles/variables';

.analyticsWrapper,
.innerAnalytics {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    overflow-x: hidden;

    .horizontal {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - .75rem));
        gap: 1.5rem;
        overflow-x: hidden;
        width: 100%;
        min-height: 570px;
    }
}

.innerAnalytics {
    padding-right: 1rem;
    overflow-y: scroll !important;
}

.analyticsItem {
    background-color: $white;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    border: solid 1px $purple_50;
    border-radius: 1rem;
    box-shadow: $shadow;
    gap: 1rem;
    margin-bottom: .5rem;

    &:first-of-type {
        canvas {
            max-width: 100% !important;
        }
    }

    .titleWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        h3 {
            width: 100%;
        }
    }

    .tableButtons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;

    }
}

.pagesTable {
    display: flex;
    flex-flow: column;

    .row {
        display: flex;
        border-bottom: solid 2px $purple_50;
        justify-content: flex-end;

        .item {
            padding: .75rem .5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .5rem;
            text-wrap: nowrap;
            cursor: pointer;

            p {
                display: flex;
                align-items: center;
                gap: .1rem;

                &.bad {
                font-size: .8rem;
                    color: $red;
                }

                &.good {
                font-size: .8rem;
                    color: $green;
                }

                svg {
                    opacity: 1;
                    font-size: .8rem;
                }
            }


            &:not(:last-of-type) {
                border-right: solid 2px $white;
            }

            &.page {
                width: 7.5rem;
                justify-content: flex-start;
                cursor: default;

                a {
                    width: max-content;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: .3s all ease-in-out;

                    &:hover {
                        color: $purple_primary;
                    }
                }

                @media (min-width: 1800px) {
                    width: 19rem;
                }
            }

            &.clicks {
                width: 5rem;
            }

            &.impressions {
                width: 6.5rem;
            }

            &.ctr {
                width: 6.5rem;
            }

            svg {
                font-size: 1rem;
                opacity: 0;
                transition: .3s all ease-in-out;
            }

            &.sorting {
                svg {
                    opacity: 1;
                }
            }

            &.sortingRev {
                svg {
                    opacity: 1;
                    rotate: 180deg;
                }
            }
        }
    }

    &.keywords {
        .page {
            width: 100% !important;
        }

        .position,
        .clicks,
        .ctr,
        .impressions {
            width: 18rem !important;
        }
    }

    .firstRow {
        background-color: $purple_50;
        border-radius: .5rem .5rem 0 0;
    }
}