@import '@/styles/variables.scss';

.analyticsWrapper {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    width: 100%;

    .horizontal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        overflow-x: hidden;
        width: 100%;

        .chartWrapper {
            background-color: $white;
            display: flex;
            flex-flow: column;
            padding: 1rem;
            border: solid 1px $purple_50;
            border-radius: 1rem;
            width: calc(100% - 2rem);
            box-shadow: $shadow;

            canvas {
                max-width: 100% !important;
            }

            .titleWrapper{
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}