@import '@/styles/variables';

.textWrapper {
    margin-bottom: 1rem;

    li {
        font-family: $roboto;
    }
}

.underline {
    text-decoration: underline;
}

.filters {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    .multiDropdown{
        display: flex;
        gap: 1rem;
    }
}