@import '@/styles/variables.scss';

.keywordsTable {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;

    .row {
        width: 100%;
        display: flex;
        transition: .3s all ease-in-out;
        border-bottom: solid 2px $purple_50;

        &:hover {
            background: $purple_50;
        }

        .item {
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            &.select {
                min-width: 3rem;
            }

            &.keyword {
                min-width: 40%;
            }

            &.searchVolume,
            &.competition,
            &.potential {
                width: 100%;
                justify-content: flex-end;
            }

            svg {
                transition: .3s all ease-in-out;
                opacity: 0;
            }

            &.activeSort {
                svg {
                    opacity: 1;
                }
            }

            .selector {
                width: 1rem;
                height: 1rem;
                background-color: white;
                border: solid 1px $purple_primary;
                border-radius: .3rem;
                cursor: pointer;
                transition: .3s all ease-in-out;

                &.selected {
                    background-color: $purple_primary;
                }
            }
        }

        &.topRow {
            background-color: $purple_50;
            cursor: pointer;
            border-radius: .5rem .5rem 0 0;

            .item {
                align-items: center;

                &:not(:last-of-type) {
                    border-right: solid 2px $white;
                }

                p {
                    font-weight: 600;
                }

                svg {
                    font-size: 1rem;

                }
            }
        }
    }

    .tableContent{
        display: flex;
        flex-flow: column;
        overflow-y: scroll;
    }

}