@import '@/styles/variables.scss';

.smallTable {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;

    .row {
        display: flex;
        transition: .3s all ease-in-out;
        border-bottom: solid 2px $purple_50;


        .item {
            padding: .75rem .5rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            text-wrap: nowrap;

            &:not(:last-of-type) {
                border-right: solid 2px $white;
            }

            &.keyword {
                width: 145px;

                p {
                    width: max-content;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.searchVolume {
                min-width: 6.9rem;
            }

            &.competition {
                min-width: 5.5rem;
            }

            &.potential {
                min-width: 4rem;
            }

            &.searchVolume,
            &.competition,
            &.potential {
                justify-content: flex-end;
            }
        }
    }

    @media (min-width: 1800px) {
        width: max-content;

        .row{
            .item{
                &.keyword {
                    width: 6rem;
                }
            }
        }
    }
}

.topRow {
    background-color: $purple_50;
    border-radius: .5rem .5rem 0 0;

    .item {
        p {
            font-weight: 600;
        }

        svg {
            font-size: 1rem;

        }
    }
}