@import '@/styles/variables';

.popUpWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: rgba($color: $purple_50, $alpha: .5);
    animation: showAni .3s ease-in-out forwards;
    z-index: 100;

    @keyframes showAni {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
}